<footer class="footer">
    <div class="container" id="footer">
        <div class="row">
            <div class="col-md-4">
                <p class="text-left">
                    <a href="/">我的书店</a> 我的书店中有大量书籍，你可以阅读其中的免费图书，其中一部分是要收费的，注册账户，充值后可永久阅读。
                </p>

                <p class="text-left">
                    目前已经收藏 <a href="/search">1,874,194</a> 种书籍
                </p>
            </div>
            <div class="col-md-4">
                <strong><a href="/about">关于 我的书店</a></strong>
            </div>
            <div class="col-md-4">
                <form action="//libraries.us10.list-manage.com/subscribe/post?u=15c11768c94674bc6f18d079f&amp;id=848ac04a44"
                      method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                      class="navbar-form" novalidate="">
                    <p>
                        Subscribe to the Libraries newsletter:
                    </p>
                    <input type="email" value="" name="EMAIL" size="20" placeholder="Your email..." class="form-control"
                           id="mce-EMAIL">

                    <div style="position: absolute; left: -5000px;"><input type="text"
                                                                           name="b_15c11768c94674bc6f18d079f_848ac04a44"
                                                                           tabindex="-1" value=""></div>
                    <input type="submit" value="Get Updates" name="subscribe" id="mc-embedded-subscribe"
                           class="btn btn-primary"></form>
            </div>
        </div>
    </div>
</footer>