<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link href="{{ static_url('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ static_url('css/bootstrap-fileinput/fileinput.css') }}" rel="stylesheet">
    <!-- some CSS styling changes and overrides -->
    <style>
        .kv-avatar .file-preview-frame, .kv-avatar .file-preview-frame:hover {
            margin: 0;
            padding: 0;
            border: none;
            box-shadow: none;
            text-align: center;
        }

        .kv-avatar .file-input {
            display: table-cell;
            max-width: 220px;
        }
    </style>
</head>
<body>

<!-- the avatar markup -->
<div id="kv-avatar-errors-1" class="center-block" style="width:800px;display:none"></div>
<form class="text-center">
    <div class="kv-avatar center-block" style="width:200px">
        <input id="avatar-1" name="fileupload" type="file" class="file-loading">
    </div>
    <input type="hidden" name="avatar">
    <!-- include other inputs if needed and include a form submit (save) button -->
</form>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ static_url('bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ static_url('js/bootstrap-fileinput/fileinput.js') }}" type="text/javascript"></script>
<script src="{{ static_url('js/bootstrap-fileinput/locales/zh.js') }}" type="text/javascript"></script>
<!-- the fileinput plugin initialization -->
<script>
    var btnCust = '<button type="button" class="btn btn-default" title="Add picture tags" ' +
        'onclick="alert(\'Call your custom code here.\')">' +
        '<i class="glyphicon glyphicon-tag"></i>' +
        '</button>';
    $("#avatar-1").fileinput({
        overwriteInitial: true,
        maxFileSize: 1500,
        showClose: false,
        showCaption: false,
        browseLabel: '',
        removeLabel: '',
        browseIcon: '<i class="glyphicon glyphicon-folder-open"></i>',
        removeIcon: '<i class="glyphicon glyphicon-remove"></i>',
        removeTitle: 'Cancel or reset changes',
        elErrorContainer: '#kv-avatar-errors-1',
        msgErrorClass: 'alert alert-block alert-danger',
        defaultPreviewContent: '<img src="/static/images/default_avatar.png" alt="Your Avatar" style="width:160px">',
        layoutTemplates: {main2: '{preview} ' + btnCust + ' {remove} {browse}'},
        allowedFileExtensions: ["jpg", "png", "gif", "jpeg"],
        uploadUrl: "/file/upload",
        uploadAsync: true
    }).on("filebatchselected", function (event, files) {
        $("#avatar-1").fileinput("upload");
    }).on("fileuploaded", function (event, data, id, index) {
        $("input[name='avatar']").val(data.response["data"]["filepath"]);
    });
</script>
</body>
</html>